<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cooking Chef{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block header %}
        <header class="header-top header-home">
            <div class="overlay">

                <nav class="main-menu">

                    <a href="{{ path('Homepage') }}">
                        <img src="{{ asset('build/images/logo-small.png') }}" alt="Cooking Chef" class="logo-nav">
                    </a>

                    <ul>
                        <li><a href="#"><i class="fa fa-cutlery"></i> Recettes</a></li>
                        <li><a href="#"><i class="fa fa-video-camera"></i> Vidéos</a></li>
                        <li><a href="#"><i class="fa fa-sign-in"></i> Log in</a></li>
                    </ul>
                </nav>


                <div class="container">
                    <div class="logo-home">
                        <img src="{{ asset('build/images/logo.png') }}" alt="Cooking Chef">
                    </div>
                    <form>
                        <input type="text" placeholder="Recette">
                        <select>
                            <option disabled selected>Catégorie</option>
                            <option>Entrée</option>
                            <option>Plat</option>
                            <option>Dessert</option>
                        </select>
                        <input type="submit" value="Rechercher">
                    </form>
                    <p>Cooking chef est le site internet pour Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis fugit, quae veniam culpa nam harum sed qui, libero obcaecati enim praesentium est id consequatur voluptatem doloribus perspiciatis saepe ratione at!</p>
                </div>

            </div>

        </header>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        <footer class="site-footer">
            © Cooking Chef 2016
        </footer>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
